html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/*
for sayygo temp fix
*/
/*[id$=info] {*/
    /*display: none;*/
/*}*/

/*
for sayygo temp fix//
*/
div.home-pic {
    margin: 0;
}

div.home-pic {
    margin: 0;
    padding: 0;
    width: 20%;
    float: left;
}

.home-pic img {
    max-width: 300px;
    clip: rect(0px, 300px, 200px, 0px);
    opacity: 0.7;
    width: 100%;
}

#home-page .jumbotron {
    position: fixed;
    top: 368px;
    left: 0;
    background: transparent;
    width: 100%;
    z-index: 20;
}
#home-page .jumbotron a{
    color: #444;
}

#home-page h1 {
    color: rgb(255, 255, 255);
    text-shadow: black 1px 1px 1px;
}
#home-page #top > img{
    width: 100%;
}
#browse-input{width: 30%;margin: 0 auto;font-size: 180%;}
#browse-input label{text-shadow: 1px 1px beige;}
#browse-input *{margin-bottom: 8px;}
#browse-input #keyword {text-align: center;padding: 3px;width: 100%}
.dimmed{opacity: 0.2}